#topbar .navbar-brand .secondary {
  color: #6cca98;
}
#topbar img.logo {
  max-height: 30px;
  margin: auto;
}
#page-content-wrapper .page-title {
  text-align: center;
  text-shadow: -1px 2px 18px rgb(0 32 88 / 12%);
  color: #152a70;
}
#topbar .navbar {
  box-shadow: 1px 5px 5px 0px rgb(1 41 112 / 12%);
}
#page-content-wrapper {
  background: url(../frontend/assets/img/hero-bg.png) top center no-repeat;
  background-size: cover;
}
#sidebar-wrapper .sidebar .sidebar-sticky {
  box-shadow: 20px 0px 20px 0px rgb(1 41 112 / 8%);
}
.counter.card-title.h5 {
  font-size: 2rem;
  color: #012970 !important;
}

.nav-link.active {
  background: #f2f5fc;
  color: #4155f1 !important;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #152b70 !important;
  background: #f2f5fc;
  border-radius: 1.5rem;
  padding: 5px 20px;
  margin-right: 1rem;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #152b70;
  background: #f2f5fc;
  box-shadow: 0px 0px 20px 0px rgb(21 43 112);
}

button {
  border-radius: 1.5rem !important;
}

.card {
  border-radius: 2rem !important;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}
.card-header:first-child {
  border-top-right-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
}
.card > .list-group:last-child {
  border-radius: 2rem;
}

.card-footer:last-child {
  border-bottom-left-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}

.badge {
  border-radius: 1rem !important;
}
